.main {
  min-height: 100vh;
  background: url(../../img/splash-bg.jpg);
  background-size: cover;
  background-position: center;
}

.typography {
  text-align: center;
  color: whitesmoke;
}

.container {
  height: 100vh;
}
